name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin@v6.0.2

      - name: SetUp
        uses: ./.github/actions/setup

      - name: Dummy VERSION file
        run: echo "0.0.0" > ./VERSION

      - name: Run tests
        run: make test

  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    needs: [test]
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin@v6.0.2
        with:
          fetch-depth: 0

      - name: SetUp
        uses: ./.github/actions/setup

      - name: Build
        uses: ./.github/actions/build

      - name: Publish
        uses: ./.github/actions/publish
        with:
          ghcr_token: ${{ secrets.GITHUB_TOKEN }}
