name: Release

on:
  create:
    tags:
      - v*

permissions:
  contents: write
  packages: write

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # pin@v6.0.1
        with:
          fetch-depth: 0

      - name: SetUp
        uses: ./.github/actions/setup

      - name: Build
        uses: ./.github/actions/build
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish
        uses: ./.github/actions/publish
        with:
          ghcr_token: ${{ secrets.GITHUB_TOKEN }}
