name: Release

on:
  create:
    tags:
      - v*

permissions:
  contents: write
  packages: write

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # pin@v6.0.2
        with:
          fetch-depth: 0

      - name: SetUp
        uses: ./.github/actions/setup

      - name: Build
        uses: ./.github/actions/build
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish
        uses: ./.github/actions/publish
        with:
          ghcr_token: ${{ secrets.GITHUB_TOKEN }}
