name: Release

on:
  create:
    tags:
      - v*

permissions:
  contents: write
  packages: write

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # pin@v6.0.0
        with:
          fetch-depth: 0

      - name: SetUp
        uses: ./.github/actions/setup

      - name: Build
        uses: ./.github/actions/build
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish
        uses: ./.github/actions/publish
        with:
          ghcr_token: ${{ secrets.GITHUB_TOKEN }}
